#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    gap: 0;
    justify-content: center;
    align-items: center;
}

#container > div {
    display: flex;
    flex-shrink: 0;
    height: 238px;
    width: 238px;
    border: 1px solid black;
}

#container > div.red {
    background-color: red;
}